.examiner-login-parent{
  padding-top: 3%;
}
.examiner-email {
  width: 80%;
  height: 52px;
  filter: drop-shadow(5px 5px 12px rgba(0, 0, 0, 0.1));
  margin-top: 9%;
}

.examiner-password {
  width: 80%;
  height: 52px;
  filter: drop-shadow(5px 5px 12px rgba(0, 0, 0, 0.1));
  margin-top: 5%;
}
