.navbar-profile a {
  text-decoration: none !important;
}

.subHeader {
  background-color: white;
}

.subHeader a {
  text-decoration: none !important;
  color: black;
}

/* Styling for the "Dashboard" part of subheader*/
.section1 {
  align-items: center;
<<<<<<< HEAD
  display: flex;
  height: 100px;
  margin-left: 100px;
=======
  margin-left: 3%;
  display: flex;
  height: 100px;
>>>>>>> frontend-develop
  justify-content: space-around;
}

/* Styling for the "Subject name" part of subheader*/
.section2 {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Styling for the "Join button" part of subheader*/
.section3 {
  height: 100px;
  display: flex;
<<<<<<< HEAD
=======
  margin-right: 6%;
>>>>>>> frontend-develop
  justify-content: center;
  align-items: center;
}
