.navbar-profile a {
  text-decoration: none !important;
}

.subHeader {
  background-color: white;
}

.subHeader a {
  text-decoration: none !important;
  color: black;
}

.section1 {
  align-items: center;
  display: flex;
  height: 100px;
  margin-left: 100px;
  justify-content: space-around;
}

.section2 {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section3 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
