/* this css page is only for design Homepage2.js */
/* Set the main position of this page */
.MainBody{
    width: 100vw;
    height: 100vh;
    background-color: #F8FCFF;
}
/* The title position */
.TitleBackground {
    height: 60px;
    width: 100vw;
    background-color: #174661;
}
/* the secondtitle position */
.SecondTitleBackground{
    width: 100vw;
    height: 100px;
    background-color: white
}
/* The left content position */
.LeftContent{
    position: absolute;
    width: 70vw;
    top: 160px;
    bottom: 0px;
}
/* The Right content position */
.RightContent{
    position: absolute;
    float: right;
    right: 0px;
    width: 30vw;
    top: 160px;
    bottom: 0px;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* the title content */
.Title{
    margin-left: 12%;
    line-height: 60px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
    font-size: 24px;
    color: white;
}
.RightUserButton{
    float: right;
    margin-right: 8%;

    font-size: 16px;
}
/* the second title content */
.SecondTitle{
    margin-left: 10%;
    line-height: 100px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
    font-size: 24px;
    color: black; 
}
.JoinClassButton{
    float: right;
    height: 45px;
    width: 220px;
    margin-right: 3%;
    margin-top: 27px;
    border: 1.5px solid #36D7DD;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
    font-size: 16px;
    color: #36D7DD; 
}
.JoinClassButton:hover{
    color: #0bbac0ea;
    border: 1.5px solid #0bbac0ea; 
    background-color: #d7fcfc42;
}
/* the right content (filters) */
.RightCube{
    width: 260px;
    height: 300px;
    margin-left: 50px;
    margin-top: 90px;
    background-color: rgba(237, 242, 248, 0.877);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
    font-size: 24px;
    color: rgb(121, 118, 118); 
}
.FilterTitle{
    margin-left: 40px;
}
.FilterSubtitle{
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 15px;
}
.FilterCheckbox{
    margin-left: 40px; 
}
.FilterCheckboxName{
    margin-left: 20px;
    font-size: 15px;
    display: inline;
    color: #36D7DD;
}
.FilterConfirmButton{
    height: 40px;
    width: 150px;
    margin-left: 55px;
    margin-top: 25px;
    border: 1.5px solid #36D7DD;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
    font-size: 16px;
    color: #36D7DD; 
}
.FilterConfirmButton:hover{
    color: #0bbac0ea;
    border: 1.5px solid #0bbac0ea; 
    background-color: #d7fcfc42;
}
/* the left content (the table for showing assessments) */
.AssessmentTitle{
    margin-left: 12%;
    margin-top: 40px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
    font-size: 16px;
    color: black; 
}
.LeftCube{
    height: 400px;
    width: 780px;
    margin-left: 12%;
    margin-top: 30px;
    overflow-x: hidden;
}
.AssListTd{
    width: 760px;
    height: 80px;
    border: 1px solid rgb(216, 215, 215);
    background-color: white;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-weight: 500;
    font-size: 24px;
    color: #36D7DD;
}
.AssListTd:hover{
    border: 1.5px solid rgb(109, 107, 107);
}
.AssListName{
    margin-top: 12px;
    margin-left: 40px;
    margin-bottom: 0px;
}
.AssListStatusComp{
    margin-top: 5px;
    margin-left: 40px;
    font-size: 16px;
    color: rgb(34, 151, 5);
}
.AssListStatusNotAtt{
    margin-top: 5px;
    margin-left: 40px;
    font-size: 16px;
    color: rgba(153, 153, 153);
}