.Home-MainBody{
    width: 100vw;
    height: 100vh;
    background-color: #F8FCFF;
}

/* The left content position */
.HomeContent{
    margin: auto;
    margin-top: 130px;
    width: 75%;
}

.HomeContent .home-title{
    font-weight: bold;
}
