.modal-container, .overlay {
  width: auto;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
    z-index: 1;
}

.overlay{
  background: rgba(49,49,49,0.8);
  text-align: center;
}

.card{
  z-index: 2;
  border-radius: 10px;
  width: auto;
  height: auto;
  margin: auto;
  padding: 2%;
}

.card h4 {
  text-align: center;
}

.close-modal {
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

.student-login-route, .examiner-login-route{
  margin-top: 8%;
}
