.Title {
  font-weight: bolder;
  margin-left: 200px;
  padding-top: 75px;
  margin-block-start: 50px;
}

.SecondTitle {
  margin-left: 200px;
  margin-top: 50px;
  color: gray;
}


.Buttons {
  padding-top: 50px;
  padding-bottom: 75px;
  margin-left: 200px;
  margin-right: 700px;
}

.RegisterButton {
  margin-left: 50px;
}

.SubmitButton {
  padding-top: 50px;
}

.Form {
  margin-left: 200px;
}

.Section {
  padding-top: 10px;
  padding-bottom: 10px;
}
