.Title {
  position: absolute;
  width: 678px;
  height: 101px;
  left: 192px;
  top: 148px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  color: #000000;
}

.SecondTitle {
  position: absolute;
  width: 678px;
  height: 101px;
  left: 192px;
  top: 239px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #b7b7b9;
}

.LoginPageButton {
  position: absolute;
  width: 270px;
  height: 52px;
  left: 192px;
  top: 375px;
}

.RegisterPageButton {
  position: absolute;
  width: 270px;
  height: 52px;
  left: 250px;
  top: 375px;
}

.SubmitButton {
  position: absolute;
  width: 240px;
  height: 82px;
  left: 192px;
  top: 804px;
}

.Section1 {
  position: absolute;
  width: 544px;
  height: 52px;
  left: 192px;
  top: 514px;
  filter: drop-shadow(5px 5px 12px rgba(0, 0, 0, 0.1));
}

.Section2 {
  position: absolute;
  width: 544px;
  height: 52px;
  left: 192px;
  top: 601px;
  filter: drop-shadow(5px 5px 12px rgba(0, 0, 0, 0.1));
}

.Section3 {
  position: absolute;
  width: 544px;
  height: 52px;
  left: 192px;
  top: 688px;
  filter: drop-shadow(5px 5px 12px rgba(0, 0, 0, 0.1));
}

.DrawingLogin {
  position: absolute;
  width: 509px;
  height: 325.7px;
  left: 870px;
  top: 401px;
}

.reg-parent {
}
