/* override react-bootstrap variables here*/
/* to make customizations */

$theme-colors: (
  "primary": #36d7dd,
  "dark": #174661,
  "success": #5bc2a7,
  "danger": #b00020,
  "warning": #fda57d,
);

/* general styling of buttons */
.btn {
  &:hover {
    color: white !important;
  }
}

/* general styling of text button */
.btn-link {
  color: #36d7dd !important;
  &:hover {
    color: #36d7dd !important;
  }
}

@import "~bootstrap/scss/bootstrap";
