.multipleChoice {
  padding-top: 5%;
  margin-right: 40%;
}

.shortAnswer {
  padding-top: 5%;
  margin-right: 40%;
}

.form-check {
  padding: 3%;
  height: 15%;
  background-color: #e7e9eb;
}

.form-group {
  padding: 3%;
  height: 15%;
  background-color: #e7e9eb;
}

textarea {
  width: 100%;
  height: 130%;
  filter: drop-shadow(5px 5px 12px rgba(0, 0, 0, 0.1));
  border: solid white;
}

input[type="radio"]:after {
  width: 130%;
  height: 130%;
  border-radius: 100%;
  top: -15%;
  left: -15%;
  position: relative;
  background-color: solid white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: solid white;
}

input[type="radio"]:checked:after {
  width: 130%;
  height: 130%;
  border-radius: 100%;
  top: -15%;
  left: -15%;
  position: relative;
  background-color: #5bc2a7;
  content: "";
  display: inline-block;
  visibility: visible;
  border: solid white;
}

input[type="checkbox"]:after {
  width: 130%;
  height: 130%;
  border-radius: 100%;
  top: -15%;
  left: -15%;
  position: relative;
  background-color: solid white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: solid white;
}

input[type="checkbox"]:checked:after {
  width: 130%;
  height: 130%;
  border-radius: 100%;
  top: -15%;
  left: -15%;
  position: relative;
  background-color: #5bc2a7;
  content: "";
  display: inline-block;
  visibility: visible;
  border: solid white;
}

.form-check-label {
  padding-top: 1%;
  padding-left: 4%;
}
