/* this css page is only for design Profile.js */
/* Set the main position of this page */
.MainBody{
    width: 100vw;
    height: 150vh;
    overflow-x: hidden;
    background-color: #F8FCFF;
}
/* The title position */
.TitleBackground{
    width: 100vw;
    height: 55px;
    background-color: brown;
}
/* left profile position */
.LeftProfile{
    float: left;
    width: 30vw;
    height: calc(150vh - 55px);
    background-color: cornflowerblue;
}
/* Right rank image position */
.RightRankImage{
    float: left;
    width: 70vw;
    height: 50vh;
    background-color: rgb(127, 143, 143);
}
/* Right Badges position */
.RightBadges{
    float: left;
    width: 70vw;
    height: 30vh;
    background-color: rgb(178, 236, 236);
}
/* Right History position */
.RightHistory{
    float: left;
    width: 70vw;
    height: calc(70vh - 55px);
    background-color: rgb(130, 243, 196);
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* The main content css start from here */
/* ------------------------------------------------------------------------------------------------------------------ */
