.body-main {
  background: #E5E5E5;
}

.title {
  /* Assessment Information */
  position: absolute;
  width: 375px;
  height: 40px;
  left: 123px;
  top: 327px;

  /* H4 */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */

  letter-spacing: 0.0025em;

  color: #000000;
}

.body-container {
  position: absolute;
  width: 679px;
  height: 326px;
  left: 116px;
  top: 428px;

  /* Secondary */

  background: #E0F5FA;
  border-radius: 5px;
}

.titleItem {
  /* Title: */
  position: absolute;
  height: 14px;
  margin-left: 29px;
  margin-top: 31px;

  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.004em;

  color: #000000;
}

.maxPointsItem {
  /* Max points obtainable: */
  position: absolute;
  height: 14px;
  margin-left: 31px;
  margin-top: 68px;

  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.004em;

  color: #000000;
}

.availableItem {
  /* Available: */
  position: absolute;
  height: 35px;
  margin-left: 332px;
  margin-top: 57px;

  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.004em;

  color: #000000;
}

.timeItem {
  /* Time limit: */
  position: absolute;
  height: 14px;
  margin-left: 31px;
  margin-top: 107px;

  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.004em;

  color: #000000;
}

.attemptsItem {
  /* Allowed attempts: */
  position: absolute;
  height: 18px;
  margin-left: 332px;
  margin-top: 101px;

  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.004em;

  color: #000000;
}

.descriptionItem {
  /* Description: */
  position: absolute;
  height: 14px;
  margin-left: 31px;
  margin-top: 147px;

  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.004em;

  color: #000000;
}

.beginButton {
  position: absolute;
  width: 270px;
  height: 52px;
  margin-left: 31px;
  margin-top: 235px;
}

.image {
  position: absolute;
  width: 569px;
  height: 259px;
  left: 825px;
  top: 489px;
}